<form action="/experiment/add" method="POST">
  <div>
    <label for="time1">Tiempo 1</label>
    <input type="text" name="times" placeholder="Tiempo 1" />
    <label for="time1">Tiempo 2</label>
    <input type="text" name="times" placeholder="Tiempo 2" />
    <label for="time1">Tiempo 3</label>
    <input type="text" name="times" placeholder="Tiempo 3" />
    <label for="time1">Tiempo 4</label>
    <input type="text" name="times" placeholder="Tiempo 4" />
  </div>
  <button>Add</button>
</form>